{{define "play"}}
    {{template "header" .}}
    <body>
        {{template "nav"}}
        <video  width="80%" height="80%"  controls ="controls"  >
                <source src="/cgi/getVideo?vid={{.Vid}}" type="video/mp4">
        </video>
        <br>
        <button  onclick = 'notify("/cgi/loveVideo?vid={{.Vid}}")()'>收藏</button>
        <button  onclick = 'notify("/cgi/cancelLoveVideo?vid={{.Vid}}")()'>取消收藏</button>
        <button  onclick = 'notify("/cgi/hateVideo?vid={{.Vid}}")()'>黑名单</button>
        <button  onclick = 'notify("/cgi/cancelHateVideo?vid={{.Vid}}")()'>取消黑名单</button>
    </body>
{{end}}